* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%);

    font-family: 'Poppins', 'Times New Roman', Times, serif;

    /* Website default is 16px already. */
    font-size: 16px;

    display: flex;
    justify-content: center;

    margin: 0;
}

.form {
    background-image: url(images/bg-intro-mobile.png);

    width: 375px;
    height: 1000px;

    text-align: center;
}

/* Desktop Version */
@media screen and (min-width: 500px) {
    .form {
        background-image: url(images/bg-intro-desktop.png);

        width: 1440px;
        height: 800px;

        display: flex;
    }
}

.form__firstSection {
    color: hsl(0, 0%, 100%);
}

.form__header {
    font-weight: bold;
    font-size: 28px;

    padding: 24px;
    padding-top: 85px;
}

.form__text {
    opacity: 0.75;

    font-weight: 600;

    padding: 0px 20px;
    padding-bottom: 40px;
}

/* Desktop Version */
@media screen and (min-width: 500px) {
    .form__firstSection {
        display: flex;
        flex-direction: column;

        justify-content: center;
        text-align: start;

        width: 50%;

        padding: 0px 0px 0px 125px;
    }

    .form__header {
        font-size: 50px;
    }

    .form__text {
        padding: 0px 20px;
        margin-bottom: 125px;
    }
}

.form__price {
    color: hsla(0, 0%, 100%, 75%);
    background: hsl(248, 32%, 49%);

    padding: 20px 50px;
    margin: 20px;
    margin-bottom: 25px;

    border-radius: 10px;

    box-shadow: 0px 7px hsla(249, 10%, 26%, 0.25);
}

.form__free {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.signUp {
    background: hsl(0, 0%, 100%);

    margin: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    padding: 25px;

    box-shadow: 0px 7px hsla(249, 10%, 26%, 0.25);
}

.input {
    width: 100%;
    padding: 20px;

    border: 1px solid hsla(0, 0%, 0%, 0.25);
    border-radius: 5px;

    font-weight: bold;

    outline-color: hsl(248, 32%, 49%);
}

.signUp__firstName,
.signUp__lastName,
.signUp__email,
.signUp__password {
    display: flex; 
    align-items: center;
}

.signUp__errorBorder {
    border: 2px solid hsl(0, 100%, 74%);
}

.signUp__error {
    margin-left: -45px;

    width: 25px;
    height: 25px;
}

.errorMessage {
    color: hsl(0, 100%, 74%);
    font-size: 12px;
    font-style: italic;

    text-align: end;

    margin-top: 5px;
    margin-bottom: 10px;
}

.signUp__button {
    color: hsl(0, 0%, 100%);
    background: hsl(154, 59%, 51%);
    
    border: none;
    padding: 20px;
    padding-bottom: 15px;

    width: 100%;

    box-shadow: 0px 5px hsl(158, 38%, 54%);

    border-radius: 5px;
}

.signUp__agreement {
    color: hsl(246, 25%, 77%);
    font-size: 12px;

    padding: 5px 20px;
    margin-top: 10px;
}

.signUp__TOS {
    color: hsl(0, 100%, 74%);
}

/* Desktop Version */
@media screen and (min-width: 500px) {
    .form__secondSection {
        display: flex;
        flex-direction: column;

        width: 50%;

        justify-content: center;

        padding-right: 150px;
    }

    .form__price {
        margin-bottom: 0px;
    }

    .signUp {
        padding: 40px;
    }

    .errorMessage {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .signUp__button:hover {
        cursor: pointer;
        opacity: 0.75;
    }
}

/* Active States. */
.hide {
    display: none;
}

.hideMessage {
    visibility: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
}