* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Times New Roman', Times, serif;

    /* Website default is 16px already. */
    font-size: 16px;

    display: flex;
    justify-content: center;

    margin: 0;
}

.form {
    background-image: url(images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%) ;

    border: 1px solid red;

    width: 375px;
    height: 1000px;

    text-align: center;
}

.form__firstSection {
    border: 1px solid red;
    color: hsl(0, 0%, 100%);
}

.form__header {
    border: 1px solid red;
    font-weight: bold;
    font-size: 28px;

    padding: 24px;
    padding-top: 85px;
}

.form__text {
    border: 1px solid red;

    opacity: 0.75;

    font-weight: 600;

    padding: 0px 20px;
    padding-bottom: 50px;
}

.form__price {
    border: 1px solid red;
    color: hsla(0, 0%, 100%, 75%);
    background: hsl(248, 32%, 49%);

    padding: 20px 50px;
    margin: 20px;

    border-radius: 10px;
}

.form__free {
    border: 1px solid red;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.signUp {
    border: 1px solid red;
    background: hsl(0, 0%, 100%);
}

.signUp__firstName {
    border: 1px solid red;
}

.signUp__lastName {
    border: 1px solid red;
}

.signUp__email {
    border: 1px solid red;
}

.signUp__password {
    border: 1px solid red;
}

.signUp__button {
    border: 1px solid red;
    color: hsl(0, 0%, 100%);
    background: hsl(154, 59%, 51%);
    
    border: none;
}

.signUp__agreement {
    border: 1px solid red;
    color: hsl(246, 25%, 77%);
}

.signUp__TOS {
    border: 1px solid red;
    color: hsl(0, 100%, 74%);
}